body {
    background-color:lightskyblue;
    background-image: repeating-linear-gradient(to bottom, white,lightblue,lightpink,white,lightblue,lightpink,white);
    
}

h1 {
    color: orchid;
    text-decoration: underline;
    text-align:center;
}

p {
    color:rgb(24, 83, 24);
    font-size: 20px;
    text-align:center;
    border:0px;
    margin:15px;
}

#pic{
    display:flex;
    justify-content:space-around;

    height:500px;
    width:500px;
    margin-left: 320px;
}

#caption{
    align-content:center;
    margin-right: 100px;
}

#welcome{
    text-align: center;
    margin-top:30px;
}